.flex-container {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 26em;
}

.mat-card-header {
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
}

.mat-card-content {
  display: block;
  margin-bottom: 16px;
}

.body{
  display: flex;
  justify-content: space-around;
}

button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}