#container{
    height: 50%;
    width: 100%;
}

.progress-bar{
    background-color: #0cb481;
}

.card{
    width: 300px !important;
    background-color: rgba(13, 255, 0, 0.015) !important;
    border: 2px solid #f0d50980;
    background-color: white !important;
    }

.prof{

            background-color: white !important;
            border-radius: 50% !important;
            border: 2px solid #f0d50989;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }